<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>'s Notes</h1>

    <% @notes.each do |note| %>
      <div class="card text-center mt-3 mb-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to 'Edit', edit_note_path(note), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <span class="nav-link">Created by <%= current_user.name %>, <%= note.created_at.strftime("%a, %b %e, %Y | %l:%M %p") %> </span>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= note.title %>
          </h5>
          <p class="card-text">
            <%= note.body %>
          </p>
        </div>
      </div>
    <% end %>



<br>

<%= link_to 'New Note', new_note_path, class: "btn btn-primary" %>
