<ul class="nav nav-pills nav-fill">
  
  <% if !user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Home", root_path, 
      class: "nav-link"
    %>
    </li>
    <li class="nav-item">
    <%= link_to "Log In", login_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign Up", signup_path, class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "#{current_user.name}'s Notes", notes_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
    <%= link_to "New Note", new_note_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "nav-link" %>
    </li>
  <% end %>
  
  
</ul>